<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.lid-sleep</string>

	<key>ProgramArguments</key>
	<array>
		<string>/Users/john/Projects/dotfiles/bin/lid-sleep</string>
	</array>

	<key>RunAtLoad</key>
	<true/>

	<key>StartInterval</key>
	<integer>2</integer>

	<key>ProcessType</key>
	<string>Interactive</string>

	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>

	<key>StandardOutPath</key>
	<string>/tmp/lid-sleep.log</string>

	<key>StandardErrorPath</key>
	<string>/tmp/lid-sleep.err.log</string>
</dict>
</plist>
